.container{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.showcase-container{
   
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;

}